<!DOCTYPE html>
<html>
<head>

    @Html.Partial("_header")
</head>
<body>
@Html.Partial("_navheader")

    @RenderBody()

@Html.Partial("_footer")

@RenderSection("scripts", required: false)
</body>
</html>